@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.fondo{    
    background: linear-gradient(to bottom right, #8AF6E6, pink);    
    height: 100;
}
.padre{
    height: 60vh;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}
.padres{
 
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.menu{
  text-align: right;
}

.animation {
    animation-duration: 3s;
    animation-name: slidein;
  }  
  @keyframes slidein {
    from {
      margin-left: 500%;
      width: 100%
    } 
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  h1{
    font-family: 'Pacifico', cursive;
    font-size: 7vw;
    
  }
  
  .padre {    
    /* IMPORTANTE */
    text-align: center;
  }
  .hijo{
    float: left;
  }
 
